  <%
  var cats = [];
  item.categories.forEach(function(cat){
    cats.push('<li><a href="' + url_for(cat.path) + '">' + cat.name + '<span>' + cat.length  + '</span></a></li>');
  });
  %>
  <li>
    <%- cats.join(' ') %>
  </li>
