<% if (theme.jiathis){ %>
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style_24x24">
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_twitter"></a>
        <a class="jiathis_button_fb"></a>
        <a class="jiathis_button_googleplus"></a>
        <a class="jiathis_button_linkedin"></a>
        <a class="jiathis_button_copy"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!-- JiaThis Button END -->
    <br>
<% } %>
