  <%
  var tags = [];
  item.tags.forEach(function(tag){
    tags.push('<li><a href="' + url_for(tag.path) + '">' + tag.name + '<span>' + tag.length  + '</span></a></li>');
  });
  %>
  <%- tags.join(' ') %>
