<div class="widget">
	<div class="rsspart">
		<a href="<% if (theme.rss) { %><%- url_for(theme.rss) %><% } else { %><%- url_for(config.rss) %><% } %>" target="_blank" title="rss">RSS</a>
	</div>
</div>
